[GENERAL]
DEVELOPMENT = True

[REDOX]
BASE_URL = https://api.redoxengine.com
REDOX_API_KEY = <Redox API Key>
REDOX_API_SECRET = <Redox API Key Secret>
WAIT_BEFORE_ORDER_QUERY_SECONDS = 60

[REDCAP]
LOCAL_REDCAP_URL = <URL for REDCap API>
LOCAL_REDCAP_API_KEY = <REDCap API Key>

[EMAIL]  # To notify of issues
SMTP_HOST = localhost
SMTP_PORT = 25
FROM_ADDR = sender@email.com
TO_ADDRS = a@b.com;c@d.com  # separate emails with ;
